<form action="/albums" method="POST">
    <input type="text" name="title">
    <input type="int" name="release_year">
    <input type="int" name="artist_id">
    <input type="submit" name="Submit the album">
</form>